.products {
  border-left: 1px solid #ccc;
  margin-left: 0;
  background-color: #fff;
  padding: 20px;
  border-radius: 2px;
  overflow-x: scroll;
  .productSearch {
    //   margin: 20px 0 0 0;
  }
  .card {
    padding-right: 0;
    margin-left: 0;
    padding: 20px 10px;
    border-radius: 1;
    margin-bottom: 10px;
  }
  .card-body {
    padding: 0;
    .mapper{
      margin: 0 25%;
    }
  }
}
.dataTable {
  margin: 15px 0;
  padding: 20px;
  .dataTables_info {
    margin: 15px 0;
  }
  .dataTables_paginate {
    margin: 12px 0;
    // float: right;
  }
  .dataTable_scrollBody {
    border: 1px solid #ddd;
  }
}
.modal {
  .modal-dialog {
    max-width: 50%;
    .modal-content {
      margin-top: 10%;
      .modal-body {
       
      }
    }
  }
}
