.pdf{
    // width: 50%;
    border: 1px solid #ddd; /* Gray border */
    border-radius: 4px;  /* Rounded border */
    padding: 5px; /* Some padding */
    width: 1000px; /* Set a small width */
    height:700px; /* Set a small width */
    margin: 0 74px 0 0 ;
}

 /*allowfullscreen webkitallowfullscreen*/




